<!-- -*- mode: XML -*- -->
<!-- run velodyne_pointcloud/TransformNodelet in a nodelet manager for a VLP-16 -->

<launch>
  <include file="$(find /home/mima/project/some/src/catkin_velodyne)/home/mima/project/some/src/catkin_velodyne/src/velodyne/velodyne_pointcloud/launch">
    
  </include>

  <include file="$(find hdl_graph_slam)/launch/hdl_graph_slam.launch">
  </include>
  <!-- RViz -->
  <node pkg="rviz" type="rviz" output="screen" name="rviz" respawn="true" />      

</launch>
