<launch> 
	<!-- 世界 -->
  <arg name="world_path" default="$(find simulation)/worlds/classroom.world" />
	<!-- 3dlidar-rover z3Dlidar_gps_px4_rover.launch -->
  <include file="$(find simulation)/launch/px4/z3Dlidar_px4_loam.launch">
    <arg name="world_path" value="$(arg world_path)" />
  </include>

	<!-- 建图(find package-name) -->
  <include file="$(find lego_loam)/launch/run-gps.launch">
  </include>
	
	
	<!-- 键盘控制 rover_keyboard_control_px4.py -->
	<node pkg="simulation" type="keyboard_control_px4.py" name="keyboard_control_px4" output="screen" launch-prefix="gnome-terminal --tab -e">
    </node>

   

</launch>

